.btn-white  { position: relative; left: 300px;   top: 250px; }
.btn-black  { position: relative; left: 210px;  top: 150px; }
.btn-red    { position: relative; left: 20px;  top: 400px; }
.btn-yellow { position: relative; left: -50px;  top: 200px; }
.btn-green  { position: relative; left: -250px;  top: 270px; }
.btn-blue   { position: relative; left: -50px;  top: 350px; }